@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=ZCOOL+KuaiLe&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shojumaru&family=ZCOOL+KuaiLe&display=swap');


body{
    background-color: black;
}

.zcool-kuaile-regular {
    font-family: "ZCOOL KuaiLe", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#famer1 {
    background-image: url(https://s3-alpha-sig.figma.com/img/894b/df6e/56b90bbef82ad188765f40d12a46caef?Expires=1719187200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=EZX~W-t56ghYs-JI3U81XEqojE3Z4UzHP8YxTo9a3YGqMVlHqd86q6OPdoMy6qDHtklUzvWYCuPFxWs6wU35M7lVGj6zyjGRfMDMCu654yzQDX0yDUhZ4nSb0IjrH3meLZSUh9TFE-3TCkvHGzz2GBVQiv1HE4IHSnuXA3Dr16BXVfWl6~1HmkLO9y0wh0DSjMIVp8a16j28tDB0ui36-lCnwFkrUgCi49z6fec03pL8kwOo3df4PcViJ2qqyNNDMwnjpm64lGt9TruH16Lg7iKgOiFC1SrpMdpBtKgwXykI8cLt6Z9eeqBaQgsQAaH8BUcyp6TsI55JL~JQyixbKg__);
    width: 1450px;
    height: 788px;
    top: -6px;
    left: -601px;
    gap: 0px;
    opacity: 0px;

}

#famer1>nav>.img {

    width: 106px;
    height: 117px;
    top: 21px;
    left: -513px;
    gap: 0px;
    opacity: 0px;

}

#famer1>nav>div>h1 {
    /* border: 1px solid red; */
    font-family: ZCOOL KuaiLe;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    /* text-align: center; */
    color: white;
    position: absolute;
    left: 150px;
    bottom: 600px;



}

#famer1>nav>.navtogle {

    display: flex;
    flex-direction: column;
    align-items: center;

    /* height: none; */
    /* border: 1px solid red; */
    font-family: ZCOOL KuaiLe;
    /* width: Fixed (583px)px; */
    /* height: Hug (52px)px; */
    /* top: 40px; */
    /* left: -103px; */
    /* padding: 16px 24px 16px 24px; */
    /* gap: 24px; */
    /* border-radius: 20px ; */
    opacity: 0px;


}

#famer1>nav>.navbtn {
    /* border: 1px solid red; */
    border: none;
    width: 127px;
    height: 38px;
    position: absolute;
    top: 78px;
    left: 1295px;
    border-radius: 15.44px;
    opacity: 0px;

    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    background: linear-gradient(93.73deg, #ED0137 20.19%, #F05733 88.3%);
    ;

}

#famer1>#hero-center {
    /* border: 2px solid red; */
    font-family: Shojumaru;
    font-size: 25px;
    font-weight: 400;
    line-height: 53.55px;
    text-align: center;
    color: rgba(251, 246, 246, 1);

}

/* frame 2 */

#frame2 {
    background: rgba(25, 24, 24, 1);


}

#frame2>.img2 {

    left: 820px;

    opacity: 0px;
    width: 795px;
    height: 795px;
    position: relative;
    top: 05px;
    left: 670px;
    gap: 0px;
    opacity: 0px;


}

#frame2>.intro {
    background: rgba(25, 24, 24, 1);

}

#frame2>.intro>h1 {

    font-family: Shojumaru;
    font-size: 44px;
    font-weight: 400;
    line-height: 52.36px;
    text-align: left;
    color: rgba(237, 1, 55, 1);
    position: absolute;
    top: 850px;
    left: 50px;

}

#frame2>.intro>p {
    position: absolute;
    top: 950px;
    left: 50px;

    font-family: ZCOOL KuaiLe;
    font-size: 24px;
    /* font-weight: 20; */
    row-gap: 40px;
    width: 50%;
    line-height: 28.56px;
    text-align: left;
    justify-content: center;
    color: rgba(255, 252, 253, 1);


}

#frame2>.intro>button {
    font-family: ZCOOL KuaiLe;
    font-size: 20.03px;
    font-weight: 400;
    line-height: 20.03px;
    /* text-align: left; */
    background: linear-gradient(93.73deg, #D51B46 10.19%, #EE6910 98.19%);
    position: absolute;
    top: 1200px;
    left: 50px;

    height: 3cap;
    width: 150px;
    border-radius: 20px;
    border: none;

}

/* frame 3 */
#frame3{
    background-image: url(https://s3-alpha-sig.figma.com/img/7fb8/c9c7/2e63edc105c3925cfa651946f437c2fd?Expires=1719187200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=hdP4FLyi9hVrXDZhu1xm9L3ho0v8OKkB2uEC1Q2VUIwedrjQGJvvuelZxHfak0co7qxBFm9Vs8uKST261p3Hh7rV2bs31kDMfcA5ljHhLSiigOhQegHekqCIsMBQ9tuMc1e9x2zwcdx6T6bsp~fwlfzWX4k4xSWiTRVpLL2z~Vhrhge~W6Ny7Q5rUKreHEHAlSxc~5iIUxcq3VobS4K4fddRoH5cbpL6GRPjW7lcBi84uGqsmKkB0arUBFnCkokaQ1Fb8-FTVlsd6LUXI1zFPdYUMK-izTHT9UDjlTKJxyhPWAzLXqhhGOrVwbqEWNFBp3UznRm6-8a6JZd8Kzo-FQ__) ;
    width: 1450px;
    height: 788px;

   /* opacity: 10%; */
    

}
#frame3>h1{
    font-family: Shojumaru;
    font-size: 44px;
    font-weight: 400;
    line-height: 52.36px;
    text-align: center;
    padding-top: 10px;
    margin-top: 35px;
    color: rgba(237, 1, 55, 1);
    /* opacity: 1000%; */

    
}
#frame3>.card{
    width: 1159.1px;
    height: 349px;
    top: 228px;
    left: 161px;
    padding: 0px;
    gap: 0px;
    opacity: 0px;
    
}
#frame3>.card>.box{
    width: 237.06px;
    height: 349px;
    gap: 0px;
    border-radius: 13.17px 0px 0px 0px;
    opacity: 0px;
    border: 2px solid rgba(237, 1, 55, 1) ;    
}
#frame3>.card>.box>img{

}
#frame3>img{
    height: 100%;
    width: 100%;
}

footer>#foot{
    background:rgb(17,1,1);

}

footer>#foot>h1{
    font-family: Poppins;
    font-size: 24px;
    /* font-weight: 700; */
    width: 10%;
    line-height: 25.64px;
    letter-spacing: 1.7090909481048584px;
    text-align: center;
    color: linear-gradient(92.23deg, #FF002A 5.2%, #720005 90.93%);
    background: linear-gradient(92.23deg, #FF002A 5.2%, #720005 90.93%);
    margin-left: 45%;


    
}
footer>#foot>h3{
    font-family: Poppins;
    font-size: 12.82px;
    /* font-weight: 600; */
    /* line-height: 19.23px; */
    text-align: center;
    color: white;
    display: grid;


  /* grid-row: center; */
    
}
footer>#icon{
/* border: 1px solid red; */
    text-align: center;
/* align-items: center; */
}
footer>#foot>img{
    /* border: 1px solid red; */
    /* display: inline; */
    position: relative;
    left: 45%;
 margin-top: 10%;


}